
#calculator {
    background: lightblue;
    padding: 20px;
    display: block;
    width: 300px;
    margin: 100px auto;
}


.screen {
    display: block;
    height: 5em;
    background: white;
    margin-bottom: 15px;
}

.button {
    float: left;
    width: 64px;
    height: 45px;
    margin: 0 14px 15px 0;
}

.button.key {
    background-color: none;
    border: 1px solid black;
}

.key:active {
    background-color: black;
    color: white;
}

.button.operators {
    margin-right: 0;
    width: 64px;
}

.eval,.operators {
    background-color: none;
    border: 1px solid red;
}

.eval:active, .operators:active {
    background-color: red;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}