html, body {
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
}

/*Title styles*/
#title {
    display: inline-block;
    color: white;
    text-align: left;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%)

}
    #title h1 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 3em;
        margin: 0;
    }

    #title p {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 1.5em;
        color: #777;
        margin: 0;
    }

    #title .credits {
        margin-top: 150px;
        color: white;
    }

    #title .credits a {
        padding: 0px 7px;
        margin: 0 2px;
        text-decoration: none;
        background-color: #8B2635;
        color: white;
        transition: all .2s ease;
    }

        #title .credits a:hover {
            background-color: #4C151D;
        }



/*Calculator Styles*/

#calculator {
    background: #2c302e;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);

}

.calc-container {
    width: 270px;
    display: inline-block;
    padding: 20px 40px 40px 20px;
    border-right: 15px solid #000;
}

.screen-container {
    position: relative;
}

    #screen {
        display: block;
        width: 92%;
        float: right;
        background-color: #2c302e;
        border: none;
        border-bottom: 1px solid #888;
        text-align: right;
        margin: 0 2px 30px 0;
        padding: 18px 0;
        color: white;
        font-size: 2em;
        font-family: 'Open Sans Condensed', sans-serif;
    }

        #messageText {
            color: white;
            background-color: #D34F73;
            padding: 6px 7px;
            position: absolute;
            left: 21px;
            top: 20px;
            
            text-align: center;
            font-family: "Abel", sans-serif;
            font-size: .9em;

            display: none;
            transition: all .2s ease;
        }
            
            #messageText.active {
                display: block;
            }

            #messageText:hover {
                opacity: .4;
            }

/*
    CALCULATOR Buttons, operators, and keys styles
 */
.buttons {
    display: inline-block;
}

.button {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #2c302e;
    border: none;
    color: white;
    font-size: 1.2em;
    font-family: "Abel", sans-serif;
    border-radius: 30px;
    transition: all .3s ease;
}
    .button:hover {
        background-color: #333835;
        cursor: pointer;
    }

.operators, .calc-operators > .button {
    background-color: #495780;
    width: 60px;
}
    .operators:hover, .calc-operators > .button:hover {
        background-color: #41437f;
    }

.button.eval {
    background-color: #4CAD55;
}
    .button.eval:hover {
        background-color: #54bf5e;
    }

.operator-row .button:not(:last-child) {
    color: #4CAD55;
}

.backspace img {
    width: 40%;
    padding-top: 7px;
}


/* CALCULATOR POSITIONING CSS*/

.calc-numbers {
    max-width: 100%;
    float: left;
}
    
    /*Adds a 10px right margin to every key that is NOT the last key on the row. Affects operator-row and .calc-numbers rows*/
    .calc-numbers .row > .button:not(:last-child), .operator-row > .button:not(:last-child) {
            margin-right: 10px;
    }

    .calc-numbers .row .button {
        margin-top: 10px;
    }

    .calc-operators .button {
        margin-left: 10px;
        margin-top: 10px;
    }

/*END POSITIONING CSS*/


/*HISTORY STYLES*/
#history {
    display: inline-block;
    vertical-align: top;
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-family: "Abel", sans-serif;
    min-width: 230px;
    max-width: 290px;
    overflow: auto;
}
    #history h3 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 1.5em;
        border-bottom: 1px solid #888;
        padding-bottom: 15px;
        font-weight: normal;
    }

    #history p {
        margin: 20px 0;
        line-height: 30px;
        transition: all .3s ease;
    }

    #history .item {
        background-color: #495780;
        padding: 4px 9px;
        transition: inherit;
    }
        #history .item:hover {
            background-color: #41437f;
            cursor: pointer;
        }

    #history .answer {
        background-color: #3f4442;
        padding: 4px 9px;
        transition: inherit;
    }
        #history .answer:hover {
            background-color: #306d36;
            cursor: pointer;
        }


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





@media (max-width: 1800px) {
    #calculator {
        left: 15%;
        transform: translate(-15%, -50%);
    }

    #title {
        left: 75%;
        transform: translate(-75%, -50%);
    }
}





@media (max-width: 1500px) {
    #calculator {
        left: 10%;
        transform: translate(-10%, -50%);
    }

    #title {
        left: 75%;
        transform: translate(-75%, -50%);
    }
}





@media (max-width: 1400px) {
    #title {
        left: 80%;
        transform: translate(-80%, -50%);
    }
        #title h1 {
            font-size: 2.5em;
        }

        #title p {
            font-size: 1.3em;
        }
}





@media (max-width: 1250px) {
    #title {
        padding-top: 25px;
        position: static;
        transform: none;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

        #title .credits {
            margin-top: 60px;
        }

    #calculator {
        position: static;
        transform: none;
        margin-top: 100px;
        margin-bottom: 75px;
    }
}




@media (max-width: 640px) {
    #history {
        display: block;
    }

    .calc-container {
        border-right: none;
        border-bottom: 20px solid black;
    }

    #title .credits {
        line-height: 40px;
    }
}