
#calculator {
    background: #2c302e;
    padding: 20px;
    display: block;
    width: 260px;
    margin: 100px auto;
}

/*
    Screen styles
 */

#screen {
    display: block;
    height: 70px;
    width: 100%;
    float: right;
    margin-bottom: 53px;
    background-color: #2c302e;
    border: none;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    color: white;
    font-size: 2.5em;
}

/*
    Buttons, operators, and keys styles
 */

.button {
    float: left;
    width: 61px;
    height: 50px;
    background-color: #2c302e;
    border: none;
    color: white;
}

.plus, .eval {
    border-radius: 30px;
    background-color: #495780;
}

.backspace img {
    width: 50%;
}


/*POSITIONING CSS*/

.plus, .eval {
    height: 105px; /*Must be .button height + 5px to account for margins*/
}


.calc-numbers {
    max-width: 100%;
    float: left;
}

    .calc-numbers .row > .button:not(:last-child), .operator-row > .button:not(:last-child) {
            margin-right: 5px;
    }

    .calc-numbers .row .button, .calc-operators .button {
        margin-top: 5px;
    }

    .calc-operators .button {
        margin-top: 5px;
        margin-left: 5px;
    }


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}